<div class="container p-3 text-center">
  <h2>投稿一覧</h2>
    <table class="table table-hover table-user-show">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td>
            <%= link_to admin_post_path(post), class: 'text-dark' do %>
              <%= post.body %>
            <% end %>
          </td>
          <td>
            <% if post.image.attached? %>
              <%= image_tag url_for(post.image), size: "200x100" %>
            <% else %>
              <p></p>
            <% end %>
          </td>
          <td>
            <% if post.video.attached? %>
              <%= video_tag url_for(post.video) %>
            <% else %>
              <p></p>
            <% end %>
          </td>
          <td>
            <%= link_to "#{post.post_comments.count} コメント", admin_post_path(post.id) %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
</div>