<div class="container p-3">
  <h2>投稿内容</h2>
  
  <p><%= @post.body %></p>
  <h4>画像</h4>
  <% if @post.image.attached? %>
    <%= image_tag url_for(@post.image) %>
  <% else %>
    <p>画像は添付されていません</p>
  <% end %>
  <h4>動画</h4>
  <% if @post.video.attached? %>
    <%= video_tag url_for(@post.video) %>
  <% else %>
    <p>動画は添付されていません</p>
  <% end %>

  <% if @post.user == current_user %>
    <%= link_to "編集する", edit_post_path(@post), class: 'btn btn-sm btn-success' %>
    <%= link_to "削除する", post_path(@post), method: :delete, class: 'btn btn-sm btn-danger' %>
  <% end %>
</div>