<div class="container p-3">
    <h3>全ユーザー</h3>
    <ul>
      <% @users.each do |user| %>
        <li>
          <%= link_to user.name, admin_user_path(user) %> - <%= user.email %>
          <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </li>
      <% end %>
    </ul>
    <h3>コミュニティ管理</h3>
    <ul>
      <li>
        <%= link_to "コミュニティ一覧を閲覧する", admin_communities_path %>
      </li>
    </ul>
    <h3>コメント管理</h3>
    <ul>
      <li>
        <%= link_to "投稿一覧を閲覧する", admin_posts_path %>
      </li>
    </ul>
</div>