<!DOCTYPE html>
<html>
  <head>
    <title>Gametoshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/37b4bbcd03.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'date-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg bg-danger ">
        <div class="container">
          <% if user_signed_in? %>
          <a class="navbar-brand p-3 text-dark" href="/mypage">
            <strong>
              <i class="fa-brands fa-phoenix-framework"></i>
              <span>GAME to Share</span>
            </strong>
          </a>
          <% else %>
          <a class="navbar-brand p-3 text-dark" href="/admin/sign_in">
            <strong>
              <i class="fa-brands fa-phoenix-framework"></i>
              <span>GAMEtoShare</span>
            </strong>
          </a>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item mx-2">
                  <%= render 'public/searchs/form' %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", '/mypage', class: 'nav-link bg-light text-dark btn btn-outline-dark btn-sm' %>
                </li>
                <li class="nav-item">
                  <%= link_to "友達一覧", users_path, class: 'nav-link bg-light text-dark btn btn-outline-dark btn-sm' %>
                </li>
                <li class="nav-item">
                  <%= link_to "コミュニティ一覧", communities_path, class: 'nav-link bg-light text-dark btn btn-outline-dark btn-sm' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link bg-light text-dark btn btn-outline-dark btn-sm' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "トップ", "/", class: 'nav-link bg-light text-dark btn btn-outline-dark btn-sm' %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link bg-light text-dark btn btn-outline-dark btn-sm' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link bg-light text-dark btn btn-outline-dark btn-sm' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link bg-light text-dark btn btn-outline-dark btn-sm" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>" role="alert">
            <%= message %><button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <footer class="bg-danger">
      <div class='container'>
        <div class='row'>
          <div class='mx-auto text-dark'>
    　      <p>Copyright © sample All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
